:root {
  --redux-color: #e6fbf3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 1.1rem;
}

nav {
  display: flex;
  padding: 0;
  background: var(--redux-color);
}

nav section {
  width: 100%;
}

nav section h1,
nav section {
  color: #00d084;
}

nav a,
nav a:active {
  font-weight: 700;
  padding: 0.25rem 1.5rem;
  border-radius: 4px;
  color: #e6fbf3 !important;
  background: #00d084;
  text-decoration: none;
}

nav a:first-of-type {
  margin-left: -1.5rem;
}

nav a:hover {
  color: white;
  background: #015738;
}

.navContent {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
}

.navLinks a {
  margin-left: 5px;
}

.navLinks a .badge {
  margin-left: 5px;
  position: relative;
  top: -3px;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #212529;
  background-color: #f8f9fa;
}

.navLinks :first-child {
  margin-left: 0;
}

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

section h1 {
  font-size: 3rem;
}

.transaction h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.transaction-excerpt {
  padding: 0.25rem 0.25rem;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 7px;
}

.transactions-list .transaction-excerpt + .transaction-excerpt {
  margin-top: 0.5rem;
}

.transactions-container.disabled {
  opacity: 0.5;
}

.transaction-excerpt h3 {
  margin: 0;
  font-size: 1.5rem;
}

p.transaction-content {
  margin-top: 10px;
}

.button {
  display: inline-block;
  background: #00d084;
  color: #e6fbf3;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}

button:hover {
  background-color: #015738;
}

button:disabled,
button:disabled:hover {
  opacity: 0.5;
  text-decoration: none;
}
